{% extends 'base.html' %}

{% block content %}
{{super()}}
<div class="container">
    <h1>Hello!</h1>
</div>
<div class="container" style="padding-bottom: 20px;">
    <a href="{{url_for('main.new_pitch')}}" class="btn btn-success">Make pitch</a>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="well well-lg">
                <h3>Bootcamp Pitches</h3>
                <p>If you are interested in coding, Moringa is the best bootcamp</p>
                <a href="{{url_for('main.bootcamp')}}" class="btn btn-secondary -center">See</a>
            </div>
        </div>

        <div class="col-md-4">
            <div class="well well-lg">
                <h3>Trip Pitches</h3>
                <p>Making trips of your own choice are made at your own comfort</p>
                <a href="{{url_for('main.trip')}}" class="btn btn-secondary -center">See</a>
            </div>
        </div>

        <div class="col-md-4">
            <div class="well well-lg">
                <h3>Sports Pitches</h3>
                <p>Sports are interactive activities one would never miss to watch or participate</p>
                <a href="{{url_for('main.sportspitches')}}" class="btn btn-secondary -center">See</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}