{% macro displayPitches(pitches_list) %}
    {% for pitch in pitches_list %}
    <div class="card">
        <h5>{{pitch.pitch_title|upper}}</h5>
        <p>{{pitch.pitch_content}}</p>
        <p>Written by:  {{pitch.user.username}} <a href="/pitch/{{pitch.id}}" class="btn btn-secondary">View</a></p>

    </div>
    {% endfor %}
{% endmacro %}

{% macro displayPitches(comments_list) %}
    {% for pitch in comments_list %}
    <div class="card">
        <large>{{comment.user.username}}</large>
        <p>{{comment.comment}}</p>
    </div>
    {% endfor %}
{% endmacro %}