{% extends 'base.html'%}
{% import 'macros.html' as macro%}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
    {{ super() }}
{% endblock %}

{% block content %}
    <div class="container">
        <large>{{pitch.pitch_title}}</large>
        <hr>
        <p>{{pitch.pitch_content}}</p>
        <span>
            <a href="/pitch/{{pitch.id}}?upvote=1">
                <i class="glyphicon glyphicon-chevron-up" @click="upvote"></i>
                <span class="label label-primary">{{ upvotes }}</span></a>
            <a href="/pitch/{{pitch.id}}?downvotevote=1">
                <i class="glyphicon glyphicon-chevron-up" @click="downvote"></i>
                <span class="label label-primary">{{ downvotes }}</span></a>
        </span>
    </div>
    <div>
        <p>Comments</p>
        <hr>
        {% if current_user.is_authenticated %}
            {{ wtf.quick_form(comment_form) }}
        {%endif%}
        {{macro.displayComments(comments)}}
    </div>
{% endblock %}
