{% extends 'base.html' %}
{% import 'macros.html' as macro %}

{% block content %}
{{ super() }}

<link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond&display=swap" rel="stylesheet">
<div class="container" style="font-family: 'Cormorant Garamond', serif; font-size: 20px; background-color:rgba(12, 56, 105, 0.342); color: #c7efcf">
        <h2>Sports Pitches</h2>
        <a href="{{url_for('main.new_pitch')}}">
        <br>
        Extra new pitch
        </a>
        <div>
            {{macro.displayPitches(pitches)}} <a href="{{url_for('main.new_pitch')}}">Comment</a>
        </div>
</div>
{% endblock %}