{% extends 'base.html' %}
{% import 'macros.html' as macro %}

{% block content %}
{{ super() }}

<link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond&display=swap" rel="stylesheet">
<div class="container" style="font-family: 'Cormorant Garamond', serif; font-size: 20px; background-color:rgba(12, 56, 105, 0.342); color: #c7efcf">
        <a href="{{url_for('main.new_pitch')}}">Provide pitch</a>
        <div>
                {% for pitch in pitches  %}
                <div class="card">
                    <h5>{{pitch.pitch_title|upper}}</h5>
                    <p>{{pitch.pitch_content}}</p>
                    <p>Written by:  {{pitch.user.username}} <a href="/pitch/{{pitch.id}}" class="btn btn-secondary">Comment</a></p>
            
                </div>
                {% endfor %}
          <a href="{{url_for('main.new_pitch')}}">Comment</a>
        </div>
</div>
{% endblock %}