{% extends 'base.html' %}
{% import 'macros.html' as macro %}

{% block content %}
{{ super() }}

<link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond&display=swap" rel="stylesheet">
<div class="container text-right" style="font-family: 'Cormorant Garamond', serif; background-color:#333745; color: #c7efcf">
    <div class="card">
        <h2>Sports Pitches</h2>
    <a href="{{url_for('main.new_pitch')}}">
        <br>
        Extra new pitch
    </a>
    <div>
        {{macro.displayPitches(pitches)}} <a href="{{url_for('main.new_pitch')}}">Comment</a>
    </div>
    </div>
</div>
{% endblock %}