{% extends 'base.html' %}
{% import 'macros.html' as macro %}

{% block content %}
{{ super() }}

<link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond&display=swap" rel="stylesheet">
<div class="container" style="font-family: 'Cormorant Garamond', serif; background-color:#333745; color: #c7efcf">
    <!-- <div class="card"> -->
        <h2>Trip Pitches</h2>
        <a href="{{url_for('main.new_pitch')}}">
        <br>
        Extra new pitch
        </a>
        <br>
        <hr>
        <div>
            {{macro.displayPitches(pitches)}} <a href="{{url_for('main.new_comment')}}">Comment</a>
        </div>
    <!-- </div> -->
</div>
{% endblock %}